{% extends "base.html" %}
{% block title %}Riddle-{{ riddle.name }}{% endblock %}
{% block content %}

    <ul>
        <div><h1>{{ riddle.name }}</h1>
            {{ riddle.description }}<br>
            <img src="{{ request.build_absolute_uri }}../../pic/{{ riddle.logo_image }}" width="200px" alt="Logo img">
            <br>  rate:{{ riddle.rate }}<br>

            Done {{ riddle.times_resolved }} times<br>
            {% for ca in  riddle.categories.all%}
                {{ ca.name}},
            {% endfor %}
        </div>
    {% for im in images %}
            <img src="{{ request.build_absolute_uri }}../../pic/{{ im.register_image }}" width="200px" alt="Logo img">

    {% endfor %}

    </ul>

{% endblock %}
