{% extends "base.html" %}
{% block title %} List of all riddles {% endblock %}
{% block content %}
<ul>

    {% for riddle in riddle_list%}
         <div><h1>{{ riddle.name }}</h1>
        {{ riddle.description }}<br>
         <img src="{{ request.build_absolute_uri }}/../{{ riddle.logo_image }}" width="200px" alt="Logo img">
                 {{ riddle.rate }}<br>

                 {{ riddle.times_resolved }}<br>
             {% for ca in  riddle.categories.all%}

                    {{ ca.name}},
            {% endfor %}
        </div>
    {% endfor %}
</ul>
{% endblock %}
