{% load staticfiles %}
<nav class="navbar navbar-inverse">
    {% block navbar %}
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/posts"> Urban Explorer</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/get_riddles_list"> Nearest </a></li>
            <li><a href="/get_riddles_list"> Trending </a></li>
            <li><a href="/get_riddles_list"> Top rated </a></li>
            <li><a href="/post/new">My Account</a></li>
        </ul>
        {% if user and user != AnonymousUser %}
            <div class="navbar-right">
                <a class="navbar-brand" href="/myposts"> {{ user }}</a>
                <a class="navbar-brand" href="/logout">Logout</a>
            </div>
        {% else %}
            <div class="navbar-right">
                <a class="navbar-brand active" href="/login">Login</a>
                <a class="navbar-brand active" href="/register">Register</a>
            </div>
        {% endif %}
    </div>
    {% endblock %}
</nav>